/*
    From https://unpkg.com/tailwindcss@2.2.19/dist/base.css

    Customised to accommodate for reset.css.
*/

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  border-width: 0; /* 1 */
  border-style: solid; /* 1 */
  border-color: theme('borderColor.DEFAULT', currentColor); /* 1 */
}

:where(hr) {
  border-block-start-width: 1px;
}
