:root {
  /* Edge (and perhaps other browsers) will make native UI elements
  such as form controls dark when the system is in dark mode. This is
  unwanted by us, since we for now doesn't support dark mode in our designs. */
  color-scheme: light;
  /* Lets us transition to "height: auto" and the likes. */
  interpolate-size: allow-keywords;
}

:where(html, body) {
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  line-height: var(--leading-body);
  font-family: var(--font-body);
  /* OpenType features: https://rsms.me/inter/#features */
  /* prettier-ignore */
  font-feature-settings:
    'calt' 1, /* Contextual alternates */
    'ss03' 1, /* Round quotes & comma */
    'case' 1 /* Case alternates */;
  background-color: var(--color-bg-body);
  letter-spacing: var(--tracking-body);
  color: var(--color-text-body);
  accent-color: var(--color-accent);
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
