/*
BODY AND HTML ELEMENTS
----------------------------------------------------------------*/

html,
body {
  @apply font-sans antialiased;
  font-size: calc(var(--base-size) * 1px);
  line-height: var(--base-leading);
  background-color: var(--background-color);
  color: var(--text-color);
}
