/*
CODE AND PREFORMATTED TEXT
----------------------------------------------------------------*/

code,
pre,
tt {
  @apply font-mono;
}

pre {
  @apply rounded-lg text-f6 p-3 shadow-small;
  background-color: var(--pre-background-color);
  color: var(--pre-color);
  border-color: var(--pre-border-color);
}

code,
kbd {
  @apply font-mono border;
  font-size: 0.875em;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  margin: 0 2px;
  background-color: var(--code-background-color);
}

code {
  color: var(--code-color);
  border-color: var(--code-border-color);
}

pre code {
  font-size: inherit;
  padding: 0;
  background: none;
  border: 0;
  color: inherit;
}

kbd {
  @apply rounded font-sans;
  border: 0;
  font-size: 1em;
  color: var(--kbd-color);
  background-color: var(--kbd-background);
  font-weight: bold;
  padding: 0.1em 0.4em;
}
