/*
HTML ELEMENTS
----------------------------------------------------------------*/

abbr[title],
abbr[data-tooltip] {
  cursor: help;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

b,
strong {
  /* The CSS reset used is making this "bolder". Don't do that. */
  font-weight: bold;
}

mark {
  @apply rounded-sm;
  padding: 0.1em 0.3em;
  background-color: var(--mark-background-color);
  color: var(--mark-color);
}

dt {
  font-weight: 600;
}

details summary {
  cursor: pointer;
  font-weight: 600;

  &,
  &:focus {
    outline: 0;
  }
}
