:where(abbr[title], abbr[data-tooltip]) {
  cursor: help;
}

a {
  color: var(--color-link-text);
  text-decoration: none;

  &:hover {
    color: var(--color-link-text-hover);
    text-decoration: underline;
  }
}

:where(dt, summary) {
  font-weight: bold;
}

pre {
  border-radius: var(--radius-md);
  font-size: var(--text-sm);
  padding: var(--spacing-5);
  background-color: var(--color-info-bg);
  color: var(--color-info-text);
}

:where(code, kbd, mark) {
  border-radius: var(--radius-xs);
  padding: 0.1em 0.2em;
  background-color: var(--color-grey-200);
}

code {
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  padding: 0;
  background: none;
  border: 0;
  color: inherit;
}

kbd {
  --border: var(--color-grey-600);
  font-family: var(--font-sans);
  font-weight: bold;
  background-color: #fefefe;
  border: 1px solid var(--border);
  box-shadow: 0 2px 0 var(--border);
  padding-block: 1px;
}

mark {
  background-color: var(--color-callout-bg);
  color: var(--color-callout-text);
}

hr {
  border-color: var(--color-border-dark);
}
