/*
HTML ELEMENTS
----------------------------------------------------------------*/

:where(abbr[title], abbr[data-tooltip]) {
  cursor: help;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}

:where(dt, summary) {
  font-weight: 600;
}

:where(code, pre, tt, kbd, samp) {
  font-family: theme('fontFamily.mono');
}

pre {
  border-radius: theme('borderRadius.lg');
  font-size: theme('fontSize.f6');
  padding: theme('spacing.3');
  background-color: var(--blue-90);
  color: white;
}

:where(code, kbd, mark) {
  border-radius: theme('borderRadius.DEFAULT');
  color: var(--grey-100);
  padding: 0.1em 0.4em;
  background-color: var(--grey-40);
}

code {
  font-size: 0.875em;
}

pre code {
  font-size: inherit;
  padding: 0;
  background: none;
  border: 0;
  color: inherit;
}

kbd {
  --border: var(--grey-60);
  font-family: theme('fontFamily.sans');
  font-weight: bold;
  background-color: #fefefe;
  border: 1px solid var(--border);
  box-shadow: 0 2px 0 var(--border);
  padding-block: 1px;
}

mark {
  background-color: var(--orange-30);
  color: var(--orange-80);
}

figcaption {
  color: var(--grey-80);
}
