/*
FORMS
----------------------------------------------------------------*/

textarea {
  resize: vertical;
  display: block;
}

label {
  @apply font-bold;
  color: var(--label-color);
}

input,
textarea {
  &::placeholder {
    color: var(--form-placeholder-color);
  }
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='time'],
textarea {
  @apply rounded-lg;

  --border-color: var(--form-border-color);
  --color: var(--form-input-color);
  --background-color: var(--form-background-color);

  color: var(--color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: inset rgb(0 0 0 / 5%) 0 1px 2px;
  padding: 0.4em 0.6em;
  transition: color 0.15s ease-out, border-color 0.2s ease;

  &:hover {
    --border-color: var(--grey-40);
  }

  &:focus {
    --border-color: var(--grey-50);

    color: var(--form-input-color-active);
    outline: 0;
    box-shadow: var(--form-focus-shadow);
    background-color: var(--form-background-color-active);
  }

  @media screen and (prefers-color-scheme: dark) {
    border: 0;
  }
}

select {
  @apply rounded-lg border;
  color: var(--form-input-color);
  border-color: var(--form-border-color);
  background-color: var(--form-background-color);
  -webkit-appearance: none;
  padding: var(--control-padding);
  padding-right: 2em; /* give room for the chevron bg */
  cursor: pointer;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: right 0.7em center;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0.679556 5.56825C1.54021 4.76907 2.88576 4.81891 3.68493 5.67956L12 14.6342L20.3151 5.67956C21.1142 4.81891 22.4598 4.76907 23.3204 5.56825C24.1811 6.36742 24.2309 7.71297 23.4318 8.57362L13.5583 19.2065C13.156 19.6399 12.5913 19.8861 12 19.8861C11.4087 19.8861 10.844 19.6399 10.4417 19.2065L0.568245 8.57362C-0.23093 7.71297 -0.181094 6.36742 0.679556 5.56825Z" fill="%23192D41"/></svg>');

  &:hover,
  &:focus {
    border-color: var(--grey-40);
    outline: 0;
  }

  &:focus {
    color: var(--form-input-color-active);
  }

  @media screen and (prefers-color-scheme: dark) {
    border: 0;

    &:focus {
      box-shadow: var(--form-focus-shadow);
    }
  }
}
