/*
FORMS
----------------------------------------------------------------*/

label {
  font-weight: bold;
}

:where(input, textarea) {
  &::placeholder {
    color: var(--placeholder-color);
  }
}

[contenteditable='true'] {
  &[aria-placeholder]:empty::before {
    content: attr(aria-placeholder);
    color: var(--placeholder-color);
    display: inline-block;
    pointer-events: none;
  }

  &[aria-disabled='true'] {
    --placeholder-color: var(--grey-90);
    cursor: default;
  }
}

:where(input, textarea, select) {
  border-radius: theme('borderRadius.lg');
  border: 1px solid var(--grey-60);
  transition: color 150ms ease-out, border-color 150ms ease;

  &:focus {
    border-color: var(--grey-80);
  }
}

:where(input, textarea) {
  padding: theme('spacing.1') theme('spacing.2');
  background-color: #fefefe;

  &:focus {
    background-color: #fff;
  }

  @media screen and (prefers-color-scheme: dark) {
    border: 0;
  }
}

input:where([type='search']) {
  border-radius: 4em;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: left 0.5em center;
  padding-left: 2.2em;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 33"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.08338 2.05691C2.33463 4.92505 -0.811209 12.7211 2.05694 19.4698C4.92508 26.2186 12.7211 29.3644 19.4699 26.4963C20.4385 26.0846 21.3328 25.5715 22.1459 24.9745L29.5824 32.412C30.3634 33.1931 31.6297 33.1932 32.4108 32.4122C33.1919 31.6312 33.192 30.3649 32.411 29.5838L24.9737 22.1454C27.656 18.4917 28.3977 13.5574 26.4963 9.08335C23.6281 2.3346 15.8321 -0.811239 9.08338 2.05691ZM20.9137 20.7623C23.4505 18.1642 24.324 14.1986 22.815 10.6479C20.8109 5.93228 15.3635 3.73416 10.6479 5.73824C5.93231 7.74232 3.73419 13.1897 5.73827 17.9053C7.74235 22.6209 13.1897 24.819 17.9053 22.8149C19.0001 22.3496 19.9593 21.6987 20.7616 20.9145C20.7856 20.8878 20.8104 20.8616 20.8361 20.8359C20.8615 20.8105 20.8874 20.786 20.9137 20.7623Z" fill="currentColor" /></svg>');
}

select {
  background-color: var(--grey-20);
  padding: var(--control-padding);
  padding-right: 2em; /* give room for the chevron bg */
  background-repeat: no-repeat;
  background-size: 0.8em;
  background-position: right 0.7em center;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M0.679556 5.56825C1.54021 4.76907 2.88576 4.81891 3.68493 5.67956L12 14.6342L20.3151 5.67956C21.1142 4.81891 22.4598 4.76907 23.3204 5.56825C24.1811 6.36742 24.2309 7.71297 23.4318 8.57362L13.5583 19.2065C13.156 19.6399 12.5913 19.8861 12 19.8861C11.4087 19.8861 10.844 19.6399 10.4417 19.2065L0.568245 8.57362C-0.23093 7.71297 -0.181094 6.36742 0.679556 5.56825Z" fill="currentColor"/></svg>');

  @media screen and (prefers-color-scheme: dark) {
    border: 0;
  }
}

progress {
  --bg-color: var(--grey-40);
  --filler-color: var(--grey-70);
  --radius: 3em;
  height: 8px;
  width: 100%;
  background-color: var(--bg-color);
  border-radius: var(--radius);

  :is(&.done, &[value='1'], &[value='100']) {
    --filler-color: var(--green-60);
  }

  &::-webkit-progress-bar {
    background-color: var(--bg-color);
    border-radius: var(--radius);
  }

  &::-moz-progress-bar {
    border-radius: var(--radius);
    background-color: var(--filler-color);
    transition: width 100ms ease;
  }

  &::-webkit-progress-value {
    border-radius: var(--radius);
    background-color: var(--filler-color);
    transition: width 100ms ease;
  }
}

fieldset {
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
