/*
HEADINGS
----------------------------------------------------------------*/

:where(h1, h2, h3, h4, h5, h6) {
  line-height: theme('lineHeight.tight');
  letter-spacing: theme('letterSpacing.heading');
  margin-bottom: theme('spacing.2');
  font-weight: bold;
  color: var(--heading-color);
}

:where(h1, h2, h3) {
  text-wrap: balance;
}

h1 {
  font-size: theme('fontSize.f1');
}

h2 {
  font-size: theme('fontSize.f2');
}

h3 {
  font-size: theme('fontSize.f3');
}

h4 {
  font-size: theme('fontSize.f4');
}

h5 {
  font-size: theme('fontSize.f5');
}

h6 {
  font-size: theme('fontSize.f6');
}
