.btn {
  --bg: var(--color-button-primary-default-bg);
  --text: var(--color-button-primary-default-text);
  --text-active: var(--text);

  display: inline-flex;
  gap: var(--spacing-3);
  align-items: center;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  transition: box-shadow 150ms ease-out;

  font-weight: var(--button-font-weight);
  border-radius: var(--button-radius);
  height: var(--button-height);
  padding-inline: var(--button-padding-inline);
  font-family: var(--button-font-family);
  background-color: var(--bg);
  color: var(--text);
  border: 0 solid var(--color-button-border);

  &:where(:focus, :hover, :active) {
    text-decoration: none;
  }

  &:active {
    border-color: var(--color-button-hover-border);
    color: var(--text-active);
    background-color: var(--color-button-hover-bg);
  }

  &-secondary {
    --bg: none;
    --text: var(--color-button-secondary-text);
    --text-active: var(--color-button-secondary-hover-text);
    border-width: var(--button-border-width);
  }
}

/* .btn {
  --bg: var(--blue-80);
  --bg-active: var(--blue-90);
  --bg-disabled: var(--grey-30);
  --bg-focused: var(--blue-90);
  --bg-hover: var(--blue-80);
  --text: #fff;
  --text-active: #e4e4e4;
  --text-disabled: var(--grey-80);
  --text-focused: var(--text-hover);
  --text-hover: #fff;
  --outline-color: var(--bg-focused);

  border-radius: var(--button-radius);
  position: relative;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  border: 0;
  padding: var(--control-padding);
  transition: box-shadow 150ms ease-out;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:focus-visible {
    background-color: var(--bg-focused);
    color: var(--text-focused);
  }

  &:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
  }

  &:active {
    background-color: var(--bg-active);
    color: var(--text-active);
  }

  &.dark {
    --text: var(--blue-80);
    --text-active: var(--blue-80);
    --text-disabled: var(--grey-70);
    --text-hover: var(--blue-80);
    --bg: var(--blue-10);
    --bg-active: var(--blue-20);
    --bg-disabled: var(--grey-40);
    --bg-focused: var(--blue-20);
    --bg-hover: var(--blue-20);
    --outline-color: var(--text);

    &:disabled {
      opacity: 0.9;
    }
  }

  &:disabled {
    box-shadow: none;
    cursor: default;
    background-color: var(--bg-disabled);
    color: var(--text-disabled);
    pointer-events: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.btn-primary {
  --bg: var(--green-70);
  --bg-active: var(--green-90);
  --bg-focused: var(--green-90);
  --bg-hover: var(--green-80);

  &.dark {
    --bg: var(--green-40);
    --bg-active: color(theme('colors.green-40') tint(5%));
    --bg-disabled: color(theme('colors.green-40') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.green-40') tint(30%));
    --bg-hover: color(theme('colors.green-40') tint(30%));
    --text-active: var(--green-80);
    --text-disabled: var(--grey-80);
    --text-hover: var(--green-90);
    --text: var(--green-90);
  }
}

.btn-secondary {
  --bg: var(--grey-30);
  --bg-active: var(--grey-50);
  --bg-focused: var(--grey-50);
  --bg-hover: var(--grey-40);
  --text-active: color(theme('colors.blue-70') shade(20%));
  --text-disabled: var(--grey-70);
  --text-hover: var(--blue-70);
  --text-focused: var(--blue-70);
  --text: var(--blue-60);
  --outline-color: var(--text-focused);

  &.dark {
    --bg: var(--blue-80);
    --bg-active: color(theme('colors.blue-80') tint(5%));
    --bg-disabled: color(theme('colors.blue-80') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.blue-80') tint(15%));
    --bg-hover: color(theme('colors.blue-80') tint(10%));
    --text-active: var(--blue-30);
    --text-disabled: var(--grey-90);
    --text-hover: var(--blue-10);
    --text-focused: var(--blue-30);
    --text: var(--blue-20);

    &:disabled {
      opacity: 0.7;
    }
  }
}

.btn-danger {
  --bg: var(--red-60);
  --bg-focused: var(--red-80);
  --bg-hover: var(--red-70);
  --bg-active: var(--red-80);

  &.dark {
    --bg: var(--red-40);
    --bg-active: color(theme('colors.red-40') tint(5%));
    --bg-disabled: color(theme('colors.red-40') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.red-40') tint(30%));
    --bg-hover: color(theme('colors.red-40') tint(30%));
    --text: var(--red-100);
    --text-active: var(--red-90);
    --text-disabled: var(--grey-80);
    --text-hover: var(--red-90);
  }
}

.btn-link {
  --bg: transparent;
  --text: var(--link-color);
  --text-hover: var(--link-color-hover);
  --text-active: var(--blue-80);
  --text-disabled: var(--grey-90);
  --outline-color: var(--text);

  transition: none;
  position: relative;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  &:active {
    top: 1px;
  }

  &:disabled {
    background-color: transparent;
    opacity: 0.8;
    text-decoration: none;
  }

  &.btn-link--danger {
    --text: var(--red-60);
    --text-active: var(--red-80);
    --text-hover: var(--red-70);
  }

  &.dark {
    --bg: transparent;
    --text: var(--blue-30);
    --text-active: color(theme('colors.blue-50') shade(10%));
    --text-hover: var(--blue-50);
    --outline-color: var(--blue-80);

    &.btn-link--danger {
      --text: var(--red-40);
      --text-active: var(--red-60);
      --text-hover: var(--red-50);
      --outline-color: var(--red-80);
    }
  }
} */
