/*
BUTTONS
----------------------------------------------------------------*/

.btn {
  --bg: var(--blue-80);
  --bg-active: var(--blue-90);
  --bg-disabled: var(--grey-30);
  --bg-focused: var(--blue-90);
  --bg-hover: var(--blue-80);
  --text: #fff;
  --text-active: #e4e4e4;
  --text-disabled: var(--grey-80);
  --text-focused: var(--text-hover);
  --text-hover: #fff;
  /* Internal override */
  --tw-ring-color: var(--bg-focused);

  @apply rounded-lg focus-visible:ring-2 focus-visible:ring-offset-2;
  position: relative;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  background-color: var(--bg);
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  border: 0;
  padding: var(--control-padding);
  transition: box-shadow 150ms ease-out;
  cursor: pointer;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    text-decoration: none;
  }

  &:focus-visible {
    outline: 0;
    background-color: var(--bg-focused);
    color: var(--text-focused);
  }

  &:hover {
    background-color: var(--bg-hover);
    color: var(--text-hover);
  }

  &:active {
    background-color: var(--bg-active);
    color: var(--text-active);
  }

  &.dark {
    --text: var(--blue-80);
    --text-active: var(--blue-80);
    --text-disabled: var(--grey-70);
    --text-hover: var(--blue-80);
    --bg: var(--blue-10);
    --bg-active: var(--blue-20);
    --bg-disabled: var(--grey-40);
    --bg-focused: var(--blue-20);
    --bg-hover: var(--blue-20);

    @apply focus-visible:ring-offset-0;

    &:disabled {
      opacity: 0.9;
    }
  }

  &:disabled {
    box-shadow: none;
    cursor: default;
    background-color: var(--bg-disabled);
    color: var(--text-disabled);
    pointer-events: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.btn-primary {
  --bg: var(--green-70);
  --bg-active: var(--green-90);
  --bg-focused: var(--green-90);
  --bg-hover: var(--green-80);

  &.dark {
    --bg: var(--green-40);
    --bg-active: color(theme('colors.green-40') tint(5%));
    --bg-disabled: color(theme('colors.green-40') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.green-40') tint(30%));
    --bg-hover: color(theme('colors.green-40') tint(30%));
    --text-active: var(--green-80);
    --text-disabled: var(--grey-80);
    --text-hover: var(--green-90);
    --text: var(--green-90);
  }
}

.btn-secondary {
  --bg: var(--grey-30);
  --bg-active: var(--grey-50);
  --bg-focused: var(--grey-50);
  --bg-hover: var(--grey-40);
  --text-active: var(--blue-100);
  --text-disabled: var(--grey-70);
  --text-hover: var(--blue-90);
  --text-focused: var(--blue-100);
  --text: var(--blue-80);

  &.dark {
    --bg: var(--blue-80);
    --bg-active: color(theme('colors.blue-80') tint(5%));
    --bg-disabled: color(theme('colors.blue-80') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.blue-80') tint(15%));
    --bg-hover: color(theme('colors.blue-80') tint(10%));
    --text-active: var(--grey-50);
    --text-disabled: var(--grey-90);
    --text-hover: var(--grey-30);
    --text: var(--grey-30);

    &:disabled {
      opacity: 0.7;
    }
  }
}

.btn-danger {
  --bg: var(--red-60);
  --bg-focused: var(--red-80);
  --bg-hover: var(--red-70);
  --bg-active: var(--red-80);

  &.dark {
    --bg: var(--red-40);
    --bg-active: color(theme('colors.red-40') tint(5%));
    --bg-disabled: color(theme('colors.red-40') blend(#fff 60%) shade(10%));
    --bg-focused: color(theme('colors.red-40') tint(30%));
    --bg-hover: color(theme('colors.red-40') tint(30%));
    --text: var(--red-100);
    --text-active: var(--red-90);
    --text-disabled: var(--grey-80);
    --text-hover: var(--red-90);
  }
}

.btn-link {
  --bg: transparent;
  --text: var(--link-color);
  --text-hover: var(--link-color-hover);
  --text-active: var(--blue-80);
  --text-disabled: var(--grey-90);

  transition: none;
  position: relative;

  &:hover,
  &:active,
  &:focus-visible {
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
  }

  &:active {
    top: 1px;
  }

  &:disabled {
    background-color: transparent;
    opacity: 0.8;
    text-decoration: none;
  }

  &.btn-link--danger {
    --text: var(--red-60);
    --text-active: var(--red-80);
    --text-hover: var(--red-70);
  }

  &.dark {
    --bg: transparent;
    --text: var(--blue-30);
    --text-active: color(theme('colors.blue-50') shade(10%));
    --text-hover: var(--blue-50);

    &.btn-link--danger {
      --text: var(--red-40);
      --text-active: var(--red-60);
      --text-hover: var(--red-50);
    }
  }
}
