/*
BUTTONS
----------------------------------------------------------------*/

.btn {
  --background: config('colors.blue-50');
  --text: #fff;
  --focused: color(config('colors.blue-50') shade(10%));
  --hover: color(config('colors.blue-50') shade(10%));
  --active: color(config('colors.blue-60') shade(10%));
  --disabled-bg: color(config('colors.blue-50') tint(80%) saturation(- 60%));
  --disabled-color: color(config('colors.blue-50') saturation(- 90%));

  @apply rounded font-bold inline-block relative;
  background-color: var(--background);
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  border: 0;

  padding: 0.5em 1em;
  transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out;

  &:focus {
    outline: 0;
    background-color: var(--focused);
  }

  &:hover {
    background-color: var(--hover);
  }

  &:active {
    background-color: var(--active);
    transition: none;
  }

  &.dark {
    --text: config('colors.blue-90');
    --background: config('colors.blue-40');
    --hover: color(config('colors.blue-40') tint(30%));
    --focused: config('colors.blue-30');
    --active: color(config('colors.blue-40') shade(20%));

    &[disabled] {
      --disabled-color: color(config('colors.blue-80') saturation(- 30%));
      --disabled-bg: color(
        config('colors.blue-40') saturation(- 50%) alpha(60%)
      );
    }
  }

  &[disabled] {
    box-shadow: none;
    cursor: default;
    background-color: var(--disabled-bg);
    color: var(--disabled-color);
    pointer-events: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.btn-secondary {
  --text: config('colors.blue-80');
  --background: config('colors.grey-20');
  --focused: config('colors.grey-30');
  --hover: color(config('colors.grey-20') shade(5%));
  --active: color(config('colors.grey-30') shade(10%));
  --disabled-bg: color(config('colors.grey-50') tint(80%));
  --disabled-color: color(config('colors.grey-50') saturation(- 10%));

  &.dark {
    --background: config('colors.grey-30');
    --hover: color(config('colors.grey-30') tint(30%));
    --focused: config('colors.grey-20');
    --active: color(config('colors.grey-30') shade(20%));

    &[disabled] {
      --disabled-color: color(config('colors.blue-80') saturation(- 30%));
      --disabled-bg: color(
        config('colors.grey-50') saturation(- 10%) alpha(80%)
      );
    }
  }
}

.btn-primary {
  --background: config('colors.green-50');
  --focused: config('colors.green-60');
  --hover: config('colors.green-60');
  --active: color(config('colors.green-60') shade(20%));
  --disabled-bg: color(config('colors.green-50') tint(80%) saturation(- 60%));
  --disabled-color: color(config('colors.green-50') saturation(- 90%));

  &.dark {
    --background: config('colors.green-40');
    --hover: config('colors.green-30');
    --focused: config('colors.green-30');
    --active: color(config('colors.green-40') shade(20%));

    &[disabled] {
      --disabled-color: color(config('colors.green-80') saturation(- 30%));
      --disabled-bg: color(
        config('colors.green-40') saturation(- 50%) alpha(60%)
      );
    }
  }
}

.btn-link {
  --background: transparent;
  --text: config('colors.blue-50');
  --disabled-color: color(config('colors.blue-50') saturation(- 90%));
  transition: none;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    color: config('colors.blue-60');
  }

  &:active {
    top: 1px;
  }

  &[disabled] {
    background-color: transparent;
    opacity: 0.8;
    text-decoration: none;
  }

  &.dark {
    --text: config('colors.blue-40');
    --background: transparent;

    &:hover {
      color: config('colors.blue-50');
    }

    &[disabled] {
      --disabled-color: color(config('colors.blue-40') saturation(- 90%));
    }
  }
}
