/* =ICONS
--------------------------------------------- */

.icon {
  display: inline-block;
  /* Will be inherited from parent's 'color' property. */
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;

  &--stroke {
    /* In case the icon is of paths only */
    stroke: currentColor;
  }

  &--center {
    /* For when the icon should be placed alongside text. */
    vertical-align: -0.15em;
  }
}

a .icon {
  cursor: pointer;
}
