.input-group {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;

  .btn {
    border-radius: var(--radius-sm);
    height: calc(var(--spacing-10) - 4px);
  }
}

label:has(+ .input-group) {
  margin-bottom: var(--spacing-3);
  display: block;
}
