@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgb(0 0 0 / 0%);
    text-shadow: 0.25em 0 0 rgb(0 0 0 / 0%), 0.5em 0 0 rgb(0 0 0 / 0%);
  }

  40% {
    color: currentColor;
    text-shadow: 0.25em 0 0 rgb(0 0 0 / 0%), 0.5em 0 0 rgb(0 0 0 / 0%);
  }

  60% {
    text-shadow: 0.25em 0 0 currentColor, 0.5em 0 0 rgb(0 0 0 / 0%);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 currentColor, 0.5em 0 0 currentColor;
  }
}

/*
A regular spinner
----------------------------------------------------------------*/

.Spinner {
  /* Base size. */
  --size: 2rem;
  --bg: var(--spinner-bg);
  --fg: var(--spinner-fg);
  text-indent: -9999em;
  display: inline-block;
  font-size: var(--size);
  position: relative;
  aspect-ratio: 1;
  /* 
   * Pythagoras to determine the tallest bounding box we need to ensure the height remains fixed when the `::after` element rotates, that is the extreme at 45deg.
   */
  height: calc(sqrt(2) * 1em);

  &::after {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    left: calc(50% - 0.5em);
    top: calc(50% - 0.5em);

    text-indent: -9999em;
    overflow: hidden;
    border: 2px solid var(--bg);
    border-left-color: var(--fg);
    transform: translateZ(0);
    animation: spinner 0.8s infinite linear;
  }

  &--light {
    --bg: var(--spinner-fg);
    --fg: var(--spinner-bg);
  }
}
