:root {
  color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
  /* Read more in https://webkit.org/blog/8840/dark-mode-support-in-webkit/ */

  :root {
    --background-color: var(--grey-80);
    --heading-color: var(--blue-30);
    --text-color: var(--blue-20);
    --link-color: var(--blue-40);
    --link-color-hover: var(--blue-30);

    --selection-background: var(--blue-40);

    --form-background-color: var(--grey-90);
    --form-background-color-active: var(--grey-100);
    --form-input-color: var(--text-color);
    --form-border-color: var(--grey-60);
    --form-focus-shadow: var(--blue-70) 0 0 0 2px;

    --code-background-color: var(--grey-90);
    --code-color: var(--blue-30);
    --code-border-color: var(--grey-80);
    --kbd-color: var(--blue-30);
    --kbd-border-color: var(--grey-80);
  }

  /* Custom fixes */

  pre {
    box-shadow: none;
    border: 0;
  }

  html,
  body {
    line-height: 1.7;
    word-spacing: 0.05em;
  }
}
