:root {
  color-scheme: light dark;
}

@media screen and (prefers-color-scheme: dark) {
  /* Read more in https://webkit.org/blog/8840/dark-mode-support-in-webkit/ */

  :root {
    --background-color: var(--grey-90);
    --heading-color: var(--grey-40);
    --text-color: var(--blue-20);
    --link-color: var(--blue-40);
    --link-color-hover: var(--blue-30);

    --selection-background: var(--grey-50);

    --form-background-color: var(--grey-100);
    --form-background-color-active: var(--grey-100);
    --form-input-color: var(--grey-30);
    --form-input-color-active: var(--grey-20);
    --form-border-color: var(--grey-60);
    --form-focus-shadow: rgb(0 122 177 / 60%) 0 0 0 2px;

    --code-background-color: var(--grey-100);
    --pre-background-color: var(--grey-100);
    --code-color: var(--blue-30);
    --code-border-color: var(--grey-80);
    --kbd-color: var(--grey-20);
    --kbd-background: var(--grey-80);
  }

  /* Custom fixes */

  a {
    font-weight: bold;
  }

  pre {
    box-shadow: none;
    border: 0;
  }

  code {
    border: 0;
  }

  kbd {
    box-shadow: none;
  }

  html,
  body {
    line-height: 1.7;
    word-spacing: 0.05em;
  }
}
