/*
    Consumers MUST depend on Tailwind's reset too! This below complements the former.
    See https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css
*/

/* Undo previous margin reset for dialog. Fixes centered positioning. */
dialog {
  margin: auto;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

:where(button, select) {
  text-transform: none;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

:where(button, label, select, summary, [role='button'], [role='option']) {
  cursor: pointer;
}

:disabled {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}
