:root {
  --font-sans-serif: theme('fontFamily.sans');
  --font-mono: theme('fontFamily.mono');

  --base-font: var(--font-sans-serif);
  /** Base measurement. Is set as root font size on <body>. */
  --base-size: theme('baseSize');
  /** Main vertical rhythm unit. Set as line-height on <body>. */
  --base-leading: theme('baseLeading');

  --background-color: theme('backgroundColor.body');
  --text-color: theme('textColor.body');
  --heading-color: var(--blue-80);
  /** Default box shadow. This is grey-100 */
  --shadow-color: 63 58 51;

  --selection-background: var(--blue-80);
  --selection-color: #fff;
  --placeholder-color: theme('textColor.muted');
  --accent-color: var(--blue-80);
  --ring-color: var(--blue-50);

  /** Sets the default padding for controls like buttons and form inputs. */
  --control-padding: 0.6em 1em;

  /* <a> */
  --link-color: var(--blue-60);
  --link-color-hover: var(--blue-70);
}
