:root {
  --default-border-color: theme('borderColor.default');
  --default-text-color: theme('textColor.default');
  --default-background-color: theme('backgroundColor.default');

  --selection-background: var(--blue-80);
  --selection-color: #fff;
  --background-color: var(--default-background-color);
  --text-color: var(--default-text-color);
  --heading-color: var(--blue-70);

  --error-color: var(--red-60);
  --warning-color: var(--orange-60);
  --positive-color: var(--green-60);

  /* Elements */

  /* <a> */
  --link-color: var(--blue-60);
  --link-color-hover: var(--blue-70);

  /* <input>, <textarea> */
  --label-color: var(--text-color);
  --form-input-color: rgba(theme('colors.blue-80'), 0.9);
  --form-background-color: var(--off-white);
  --form-background-color-active: #fff;
  --form-border-color: var(--default-border-color);
  --form-focus-shadow: rgba(theme('colors.blue-60'), 0.1) 0 0 0 2px;

  /* <code> */
  --pre-background-color: var(--grey-90);
  --pre-color: var(--off-white);
  --code-background-color: #fdfdfd;
  --code-color: var(--purple-80);
  --code-border-color: var(--purple-30);

  /* kbd */
  /* Background is same as <code> */
  --kbd-color: var(--blue-80);

  /* <mark> */
  --mark-background-color: var(--orange-30);
  --mark-color: var(--orange-90);
}
