---
layout: layout.njk
---

<section>
  <div>
    <p class="mb-1">
      <button class="btn">Button</button>

      <button class="btn btn-secondary">Secondary button</button>

      <button class="btn btn-primary">Primary button</button>

      <button class="btn btn-link">Link Button</button>
    </p>

    <p class="mb-6">
      <button class="btn" disabled>Button</button>

      <button class="btn btn-secondary" disabled>Secondary button</button>

      <button class="btn btn-primary" disabled>Primary button</button>

      <button class="btn btn-link" disabled>Link Button</button>
    </p>

  </div>

  <div class="rounded-lg p-4 bg-blue-80 mb-6">
    <p class="mb-1">
      <button class="btn dark">Button</button>

      <button class="btn btn-secondary dark">Secondary button</button>

      <button class="btn btn-primary dark">Primary button</button>

      <button class="btn btn-link dark">Link Button</button>
    </p>

    <p>
      <button class="btn dark" disabled>Button</button>

      <button class="btn btn-secondary dark" disabled>
        Secondary button
      </button>

      <button class="btn btn-primary dark" disabled>
        Primary button
      </button>

      <button class="btn btn-link dark" disabled>Link Button</button>
    </p>

  </div>

  <p class="mb-4">
    Use modifiers to make them larger, rounded, or anything:
  </p>

  <p>
    <button class="btn text-xs">Tiny</button>

    <button class="btn text-sm">Smaller</button>

    <button class="btn rounded-full">Rounded</button>

    <button class="btn text-f5">Larger</button>

    <button class="btn text-f4">Huge</button>

  </p>
</section>
