/*
CODE AND PREFORMATTED TEXT
----------------------------------------------------------------*/

code,
pre,
tt {
  @apply font-mono;
}

pre {
  @apply rounded text-f6 p-4 text-blue-80 border;
  background-color: #fff;
}

code,
kbd {
  @apply font-mono text-f6 border;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  margin: 0 2px;
  background-color: #fdfdfd;
}

code {
  color: theme('colors.purple-60');
  border-color: theme('colors.purple-30');
}

pre code {
  font-size: inherit;
  padding: 0;
  background: none;
  border: 0;
  color: inherit;
}

kbd {
  color: theme('colors.blue-80');
  border-color: theme('colors.grey-20');
  box-shadow: rgba(theme('borderColors.main'), 0.5) 0 1px 0;
}
