/*
HTML ELEMENTS
----------------------------------------------------------------*/

abbr[title],
abbr[data-tooltip] {
  cursor: help;
}

a {
  @apply text-blue-60;

  &:hover {
    color: theme('colors.blue-70');
    text-decoration: underline;
  }
}

mark {
  @apply rounded-sm;
  padding: 0.1em 0.3em;
  background-color: theme('colors.orange-30');
  color: theme('colors.orange-90');
}

dt {
  font-weight: 600;
}

details summary {
  cursor: pointer;
  font-weight: 600;

  &,
  &:focus {
    outline: 0;
  }
}
