/*
FORMS
----------------------------------------------------------------*/

textarea {
  resize: vertical;
  display: block;
}

label {
  @apply font-bold;
  color: var(--label-color);
}

input[type='text'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='number'],
textarea {
  @apply font-sans inline-block border rounded p-1;
  color: var(--form-input-color);
  background-color: var(--form-background-color);
  border-color: var(--form-border-color);
  box-shadow: inset rgba(#000, 0.05) 0 1px 2px;
  transition: color 0.15s ease-out, border-color 0.2s ease;

  &:hover {
    @apply border-hover;
  }

  &:focus {
    @apply border-active;
    color: var(--text-color);
    outline: 0;
    box-shadow: var(--form-focus-shadow);
    background-color: var(--form-background-color-active);
  }
}

select {
  @apply font-sans rounded border;
  color: var(--form-input-color);
  border-color: var(--form-border-color);
  background-color: var(--form-background-color);
  -webkit-appearance: none;
  padding: 0.4em 0.6em;
  padding-right: 1.5em;
  cursor: pointer;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  background-repeat: no-repeat;
  background-size: 1.5em;
  background-position: right center;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve"><path fill="%23668EA7" d="M13.418,7.859c0.271-0.268,0.709-0.268,0.978,0c0.27,0.268,0.272,0.701,0,0.969l-3.908,3.83c-0.27,0.268-0.707,0.268-0.979,0l-3.908-3.83c-0.27-0.267-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.978,0L10,11L13.418,7.859z"/></svg>');

  &:hover,
  &:focus {
    @apply border-hover;
    outline: 0;
  }
}
